* { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }

li { list-style: none; }

.cards { display: -webkit-box; display: -ms-flexbox; display: flex; }
.cards .cards__list { display: -webkit-box; display: -ms-flexbox; display: flex; background: #eee; width: 100vw; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }
.cards .cards__list .card__wrapper { border: .1px solid #000; background: inherit; width: 20vw; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 60%; position: relative; }
.cards .cards__list .card__wrapper .card__image { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -o-object-fit: none; object-fit: none; -o-object-position: center; object-position: center; }
