*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.cards{
    display: flex;
    
    .cards__list{
 
        display: flex;
        background: #eee;
        width: 100vw;
        justify-content: space-evenly;

        .cards__item{
        
        }
        .card__wrapper{ 
            border: .1px solid #000;
            background: inherit;
            width: 20vw;
            height: auto;
            display: flex;
            position: relative;
            justify-content: space-between;
            padding-top: 60%;
            position: relative;
            .card__image{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: none;
                object-position: center;
            }

        }

    }
}